body{
  background-color: #04A6EB;
  color: #FDFFDF;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: royalblue;
  border-style: none;
  color: #FDFFFF;
}
input {
  height: 24px;
}
